@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.auth-background {
  background-image: url('/auth-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}